<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contador de Visitas</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Bem-vindo ao mobilete games</h1>
    <p>Você é o visitante número: {{ visitor_count }}</p>
    
    <h2>Login</h2>
    <form action="/login" method="post" class="form-container">
        <input type="hidden" name="next" value="{{ next_page }}">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>

    <!-- Botão de Cadastro -->
    <h2>Ou</h2>
    <a href="/register">
        <button type="button">Cadastrar-se</button>
    </a>
</body>
</html>