<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Mobilete Games</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Cadastro</h1>
    </header>
    
    <main>
        <form action="/register" method="post" class="form-container">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email" required>
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            
            <button type="submit">Cadastrar</button>
        </form>
        <p>Já tem uma conta? <a href="/login">Faça login</a>.</p>
    </main>
</body>
</html>